[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
grpcio = "*"
grpcio-tools = "*"

[dev-packages]
grpcio-tools = "*"

[requires]
python_version = "3.6"
