body {
  overflow: hidden;
  background-color: #0e1924;
}
.preview-container {
  width: 100%;
}

.preview {
  font-family: 'Segoe UI', Helvetica, Geneva, Verdana, sans-serif;
  line-height: 200px;
  display: block;
  height: 270px;
  width: 480px;
  margin: 30px auto;
  background-color: #e3e3e3;
  text-align: center;
  
}

.description {
  font-family: 'Segoe UI', Helvetica, Geneva, Verdana, sans-serif;
  color: #555555;
  display: block;
  margin: 20px auto;
  text-align: center;
}

button {
  font-family: 'Segoe UI', Helvetica, Geneva, Verdana, sans-serif;
  float: left;
  cursor: pointer;

  border-style: none;
  width: 400px;
  height: 100px;
  margin: 0 40px;
  text-align: center;
  font-size: 20px;
  background-color: #213a54;
  color: #e3e3e3;

  float: left;
  cursor: pointer;
}

button:active{
  background-color: #0e1924;
}

.button-container{
  display: block;
  margin: 30px auto;
  max-width: 100%;

}
